<a href="https://colab.research.google.com/github/kit1412/basicprojects/blob/pythoncodes/Assignment04_01_10_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.	Take input of a number and check whether it is a prime number

In [ ]:
import random

n = random.randrange(1, 100)
#generates a random number

num = 0
#to store the number of factors

if (n == 1):
  num = -1
#1 is neither prime nor composite  

for f in range(2, n):
  if (n % f == 0):
    num += 1
    break
  f += 1
#if number of factors is more than 0, as we are looking from 2 to n-1, the number will not be prime


if (num == -1):
  print(n, "is neither prime nor composite")
if (num == 0):
  print(n, "is a prime number")
if (num > 0):
  print(n, "is not a prime number")

83 is a prime number

2.	Create a list of marks for 30 students. Mark them between 1 to 100 and apply grade to them as below â€“ 
Score Range	Grade
1-40	F
40-50	D
50-60	C
60-70	B
70-80	A
80-90	Ex
90 - 100	Top

In [ ]:
import random
import pandas as pd

marks = []

for i in range(30):
  marks.append(random.randint(0, 100))
#to generate 30 random numbers between 0 and 100 each time  

grades = []

for i in range(30):
  if (marks[i] < 40):
    grades.append('F')
  elif (marks[i] < 50):
    grades.append('D')
  elif (marks[i] < 60):
    grades.append('C')
  elif (marks[i] < 70):
    grades.append('B')
  elif (marks[i] < 80):
    grades.append('A')
  elif (marks[i] < 90):
    grades.append('EX')
  else: 
    grades.append('Top')
 #calculating the grades

info = pd.DataFrame()

info['Marks'] = marks
info['Grades'] = grades

info

    Marks Grades
0      13      F
1      13      F
2      25      F
3      20      F
4       6      F
5      60      B
6      56      C
7       1      F
8      82     EX
9      43      D
10      1      F
11     48      D
12     40      D
13     22      F
14     32      F
15     84     EX
16     43      D
17     76      A
18      9      F
19     57      C
20     14      F
21     17      F
22     85     EX
23     29      F
24     10      F
25     77      A
26     21      F
27     36      F
28     24      F
29     80     EX

3.	Write a function to check whether a given year is a leap year. (Hint: Leap years are divisible by 4. Year which is multiple of 100 is leap year if itâ€™s divisible by 400)

In [ ]:
year = int(input("Enter year to check if leap year\n"))

if ((year % 100 != 0 and year % 4 == 0) or (year % 400 == 0)):
  print(year, "is a leap year")
else:
  print(year, "is not a leap year")  
#checking the conditons of leap year and printing it

Enter year to check if leap year
2017
2017 is not a leap year

4.	Take a Sentence and write a function to count the vowels appeared in the sentence. 
Hint - 
a.	Run a loop through list of vowels
b.	Check whether that vowel appeared in the sentence or not
c.	Remember python is case sensitive.

In [ ]:
import pandas as pd
import random
import string

vowel = ['a', 'e', 'i', 'o', 'u']
count = [0, 0, 0, 0, 0]
#to store the frequency of each vowel

lower = string.ascii_lowercase
sent = ''.join(random.choice(lower) for i in range(random.randrange(1, 1000)))
print("\nThe generated sentence = ", sent)
#to generate a string of any length between 1 and 1000 consisting of only lowercase letters

chtrs = list(sent)
#converting to a list of characters

for i in range(5):
  for j in range(0, len(chtrs)):
    if (chtrs[j] == vowel[i]):
      count[i] += 1
#counting the number of vowels      

freq = pd.DataFrame()
freq['Vowels'] = vowel
freq['Frequency'] = count
#converting the data to a pandas dataframe

freq

The generated sentence =  kewoucuyhdxbubpxbidjhdjmoclonvfzfubwmpcqobzlpnhybeiogfrhulkdyfhqizfxyoscoonvsilljelzeduuolbtovzzivbqthvhguuvxsuhwxpddrnyviymcrmpzwthlusetpsyehefehcxsywspszikbbhzwynfcktlsukbprpjugjlauzwtcgxicikgsvsyznikohjmjmdirjlkxkkrtlxanleocpgekvgllbgfplclwlxylwzkounifqosjjcccuiyuuwtxkxcqrjmttmyoughlggdhtpqvtefeofexgnlgmxwbbfwymxajgfkehvilashmrvkymcyxxrxwxrfclicvhmlabizcppjwyncadhgtaqegrjvbikbmvhxqweuffiepkpayyachlachsfqdcceadkoynxtbmbpscfpukbuaxtkycpmotzriaxhknnajpofugeckyamlhvgqlzgzwfayxudoptnnbytfjuwjqenfrsdjzargwikunksswbxzevquceqpgjlowpmqxqnbxzvyolznkrplklbukkvdayykwxvnwjiaekeamqfcfjpoafqvljulgdycpijckzidmzyluiakqwusawrdmvfuleqcjirrkhsvmsyfswwaosnlmbfde

  Vowels  Frequency
0      a         24
1      e         26
2      i         25
3      o         24
4      u         32

5.	Write a program to create a simple calculator. (keep only basic operations  - addition, subtraction, multiplication, division. For each operation write a separate function.)

In [ ]:
def sum(n1, n2):
  return n1 + n2

def diff(n1, n2):
  return n1 - n2 

def prod(n1, n2):
  return n1*n2

def quo(n1, n2):
  return n1/n2
#perfoming the four basic operations

print("Input two numbers\n")

n1 = int(input())
n2 = int(input())
#taking two numbers as input

ch = 'a'

while (ch != 'AC'):
  print("\nMenu")
  print("+ - Addition")
  print("- - Subtraction")
  print("* - Multiplication")
  print("/ - Division")
  print("AC - Quit")
  ch = (input("Input your choice\n"))

  if (ch == 'AC'):
    print("Switched Off")
    break
  else:
    if (ch == '+'):
      print("\nSum = ", sum(n1, n2))
    elif (ch == '-'):
      print("Difference = ", diff(n1, n2))
    elif (ch == '*'):  
      print("Product = ", prod(n1, n2))
    elif (ch == '/'):
      print("Quotient = ", quo(n1, n2))
#printing the answers

Input two numbers

24
55

Menu
+ - Addition
- - Subtraction
* - Multiplication
/ - Division
AC - Quit
Input your choice
+

Sum =  79

Menu
+ - Addition
- - Subtraction
* - Multiplication
/ - Division
AC - Quit
Input your choice
/
Quotient =  0.43636363636363634

Menu
+ - Addition
- - Subtraction
* - Multiplication
/ - Division
AC - Quit
Input your choice
*
Product =  1320

Menu
+ - Addition
- - Subtraction
* - Multiplication
/ - Division
AC - Quit
Input your choice
-
Difference =  -31

Menu
+ - Addition
- - Subtraction
* - Multiplication
/ - Division
AC - Quit
Input your choice
AC
Switched Off

6.	Write a function to generate multiplication table for any number.

In [ ]:
import random

def table(n):
  for i in range(1, 13):
    print(n, " * ", i, " = ", (n * i))

n = random.randrange(1, 10000)
#generating a random number

print("The generated number is", n)
print()

table(n)

The generated number is 2908

2908  *  1  =  2908
2908  *  2  =  5816
2908  *  3  =  8724
2908  *  4  =  11632
2908  *  5  =  14540
2908  *  6  =  17448
2908  *  7  =  20356
2908  *  8  =  23264
2908  *  9  =  26172
2908  *  10  =  29080
2908  *  11  =  31988
2908  *  12  =  34896

7.	Take two 3x3 matrix and write a function to add them. 
Hints: 
a.	Matrix is nothing but list of list
b.	Need two loops to read row and column
c.	For each step perform addition.

In [ ]:
import random

M1 = []
M2 = []
sum = []

for i in range(3):
  M1.append([])
  M2.append([])
  sum.append([])
  for j in range(3):
    M1[i].append(random.randrange(50, 100))
  for j in range(3):
    M2[i].append(random.randrange(50, 100))#taking all numbers in this range as then we need not worry about formatting
  for j in range(3):
    sum[i].append(M1[i][j] + M2[i][j])  
  #finding the sum of the corresponding elements

print("The two randomly generated matrices are as follows:")

for i in range(3):
  for j in range(3):
    print(M1[i][j], "  ", end = '')
  print("\t\t", end = '')
  for j in range(3):
    print(M2[i][j], "  ", end = '')
  print()

print("\nThe sum of the two matrices")

for i in range(3):
  for j in range(3):
    print(sum[i][j], "  ", end = '')
  print()

The two randomly generated matrices are as follows:
67   84   97   		98   96   98
51   90   67   		79   66   79
98   72   94   		69   76   53

The sum of the two matrices
165   180   195
130   156   146
167   148   147

8.	Write a function to calculate factorial in recursive way.

In [ ]:
import random

def factorial(n):
  if (n == 1):
    return 1
  else:  
    return (n * factorial(n-1))

n = random.randrange(1, 100)
print("The generated number = ", n)
print("Its factorial:", factorial(n))

The generated number =  59
Its factorial: 138683118545689835737939019720389406345902876772687432540821294940160000000000000