<a href="https://colab.research.google.com/github/kit1412/basicprojects/blob/pythoncodes/Assignment01_12_09_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Check whether an integer is divisible by 12 or not using appropriate operator.

In [ ]:
a = int(input("Enter a value\n"))
if (a % 12 == 0):
   print("divisible by 12")
else:
   print("not divisible by 12")

#checking if dividing by 12 gives a remainder or not

Enter a value
24
divisible by 12

 2.	Find 67^10

In [ ]:
print(pow(67, 10)) #using built-in function

1822837804551761449

3.	Type the following code in python and say why error is raised
if = “ISE Department”

In [ ]:
if = "ISE DEPARTMENT"

SyntaxError: invalid syntax (<ipython-input-4-fa222ff11b09>, line 1)

if is a keyword, and thus it cannot be used as a variable name. This produces a syntax error.

4.	Check if an input number is even or odd.

In [ ]:
b = int(input("Enter a number\n"))
if(b % 2 == 0):
   print(b, "is even")
else:    
   print(b, "is odd")

#checks if division by 2 gives remainder 0 or not

Enter a number
5
5 is odd

5.	Check python help and print the calendar of August 2021.

In [ ]:
import calendar
c = calendar.TextCalendar(calendar.SUNDAY)
str = c.formatmonth(2021, 8)
print(str)

#importing Calendar class, and indicating that the week starts from Sunday

    August 2021
Su Mo Tu We Th Fr Sa
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

6.	Print the current date and time.

In [ ]:
from datetime import datetime
import pytz

timezone = pytz.timezone('Asia/Kolkata') #obtaining the timezone for India

dt = datetime.now(timezone)#passing the required timezone into the function

dt = dt.strftime("%d %B, %Y \n  %H:%M:%S") #formatting the string

print("Date and time: \n ", dt)

Date and time:
  12 September, 2020
  00:22:02

7.	Create a list of marks (out of hundred) for 10 students and find the average marks.
8.	Find the difference between the minimum and the maximum class marks of the above list.

In [ ]:
list = []

for i in range(0, 10):
    e = int(input()) #by default, the values input are String
    list.append(e)#appending to the end of the list

    
#obtained the marks from the user

avg = 0

for i in range(0, 10):
    avg += list[i]
    
avg /= 10   
#calculating the sum and average of the numbers

print("Average of the numbers = ", avg)

min = list[0]
max = list[0]
#assuming the first element as max and min

for i in range(0, 10):
    if list[i] < min:
        min = list[i]
    if list[i] > max:
        max = list[i]
#checks if any element < min and any element > max, and makes necessary changes
        
print("Difference between maximum and minimum = ", (max-min))

44
5
66
6
99
87
22
76
35
88
Average of the numbers =  52.8
Difference between maximum and minimum =  94

9.	Create a list containing float, int, string as elements and find out the position of all the floating point numbers.
10.	Print the length of this list
11.	From the above list delete all the strings one by one.
12.	Change the value of a particular item in the list. Print the index of the item.

In [ ]:
import random

l = [4, 5.6, 'zayn', 4.66, 'malik', 1993, 27.5]

print("Position of all floating point numbers =")
    #assuming that there is atleast one since we are creating the list

n = len(l)

for i in range(0, n):
    if(type(l[i]) == float):
        print(i)
#printing all required positions
 
print("Length of this list = ", n)  
#printing the length of the list

print("\nOriginal list:", l)

c = 0
for i in range(0, n):
    if(type(l[i]) == str):
        c += 1

n = n - c
#changing the length of the list accordingly

for i in range(0, n):
    if(type(l[i]) == str):
        l.remove(l[i])
        

#l.remove('zayn')
#l.remove('malik')
        
print("\nChanged list (after strings have been removed): ",l)

#Once the strings have been removed, the list contains only integers and floats


x = int(input("\nInput a random number\n"))

x = abs(x) % n
#this will produce either 0, 1, 2, 3, or 4, and also deals with negative numbers

print("\nThe element to be modified is", l[x], "with index ", x)

random.seed(x)#so that a different value is produced each time
l[x] = random.choice(["name", 78, 665, 3.5, "apple"])
#chooses a value from the list above depending on x, thus offering some amount of randomness

print("\nChanged list: ",l)

Position of all floating point numbers =
1
3
6
Length of this list =  7

Original list: [4, 5.6, 'zayn', 4.66, 'malik', 1993, 27.5]

Changed list (after strings have been removed):  [4, 5.6, 4.66, 1993, 27.5]

Input a random number
-6

The element to be modified is 5.6 with index  1

Changed list:  [4, 78, 4.66, 1993, 27.5]

13.	Take your full name as input a and count the number of character in it 
14.	Print the above in reverse order.  Like in this way  - Last name First name

In [ ]:
a = input("Enter full name\n")

print("Number of characters = ", len(a) - 1) #subtracting 1 extra to decrement the space in between


name = a.split()#to split the string using whitespace as delimiter

print("Name in reverse: ", end = "") #to prevent going to the next line
for i in reversed(range(len(name))):
    print(name[i], end = " ") #to add a space after the last name and at the end

Enter full name
Ankita Radhakrishnan
Number of characters =  19
Name in reverse: Radhakrishnan Ankita

15.	Check this code and say why error is raised
 t = (‘a’,’b’,’c’)
 t.append(‘g’)

In [ ]:
 t = ('a','b','c')
 t.append('g')

AttributeError: 'tuple' object has no attribute 'append'

A tuple is an immutable data structure. This means that once it has been defined, its value cannot be changed. Thus, it produces an error when we try to use append() method with it.

16.	Take a few comma separated values. Store in a tuple. Find the length of the tuple.

In [ ]:
s = input("Input a comma-separated list of elements\n")
#inputing a string which is a comma-separated list of values

e = tuple(s.split(',')) #breaking the string into a list and then casting it into a tuple
# as we have to take as a string and use commas for delimiters they will all be strings

print("\nThe resulting tuple:") 
print(e)

print("\n The number of elements in the tuple:", len(e))

Input a comma-separated list of elements
dwifh, 938r39, iejf, 000, -1, fejfieq, fifjowq

The resulting tuple:
('dwifh', ' 938r39', ' iejf', ' 000', ' -1', ' fejfieq', ' fifjowq')

 The number of elements in the tuple: 7

17.	Create a dictionary of numbers 1 to 10 as keys with their squares as their values.
18.	Check if a given key already exists in the dictionary you just created.

In [ ]:
Squares = {}

for i in range(1, 11):
    Squares[i] = i * i
#as the valye for each key is the square of the key
    
print(Squares)
#printing the dictionary

a = int(input("Input the key to check if present\n")) #assuming integer input

flag = 0

for i in range(1, 11): #0 to n-1 values 
    if(a == i):
        flag = 1
        print(a, "is present")
        break
#checks for a match throughout the dictionary
        
if(flag == 0):
    print(a, "is not present in dictionary")
#if no match is found

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
Input the key to check if present
7
7 is present

19.	Create two sets. Find union, intersection and difference of the sets.

In [ ]:
A = set([1, 2, 5, 4, 3])
B = set([3, 4, 6, 1])
#creating two sets

print("The actual sets: \n")
print(A)
print(B)
#printing the original sets


print("Union of the two sets = ", A | B)
print("\nIntersection of the two sets = ", A & B)
print("\nDifference of the two sets (A - B) = ", A - B)
print("\nDifference of the two sets (B - A) = ", B - A)
print("\nSymmetric difference of the two sets (A ∆ B) = ", ((A | B) - (A & B)))

#printing union, intersection, differences and symmetric difference of the two sets

The actual sets:

{1, 2, 3, 4, 5}
{1, 3, 4, 6}
Union of the two sets =  {1, 2, 3, 4, 5, 6}

Intersection of the two sets =  {1, 3, 4}

Difference of the two sets (A - B) =  {2, 5}

Difference of the two sets (B - A) =  {6}

Symmetric difference of the two sets (A ∆ B) =  {2, 5, 6}

20.	Find if a specific element belongs to a set. Add that element 2 more times to the set.

In [ ]:
e = input("\nInput the element to check\n")
#inputing the element to search for in a given set

A = {"2", "cshu3", "csjbfje1", "6", "4", "7", "8wbjfgwgi", "00009"}
#creating a set

if e in A:
    print(e, "is present in the set\n")
else:
    print(e, "is not present in the set\n")
 #goes through the set and then searches for a match   
    
A.add(e)
A.add(e)
#the second add() is redundant as sets cannot contain duplicate elements, and thus the element will be added if not present, else nothing occurs

print("The final modified set: \n", A)

Input the element to check
yfyhj
yfyhj is not present in the set

The final modified set:
 {'7', '2', '4', '8wbjfgwgi', 'csjbfje1', '00009', 'cshu3', '6', 'yfyhj'}